html.h-100 {
    height: 100%;
}

body.h-100 {
    height: 100%;
}

.container-flui.h-100 {
    height: 100%;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
}

.jumbotron {
    background-color: #343a40
}

.form-inline {
    display: flex;
}

.form-control {
    width: 75%;
}

#city-info[data-city=""] {
    display: none;
  }
  
  @media only screen and (min-width: 992px) {
    #dashboard {
      flex-grow: 1;
    }
    #five-day-weather-card {
      width: 20%;
    }
  }
  
    